<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'sign-up-form'} ) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="right-container">
     <h1>
        Connect with friends and the <br />
        world around you on Facebook.
      </h1>
      <div id="connect-img"></div>
  </div>

  <div class="left-container">

    <h2>Create a New Account</h2>
    <p>It’s quick and easy.</p>

    <div class="names">
      <div class="field">
        <%= f.text_field :first_name, autofocus: true, placeholder: "First name" %>
      </div>

      <div class="field">
        <%= f.text_field :last_name, placeholder: "Last name" %>
      </div>
    </div>

    <div class="field">
      <%= f.email_field :email, placeholder: "Email adress" %>
    </div>

    <div class="field">
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
      <%= f.password_field :password, placeholder: "Password" %>
    </div>

    <div class="field">
      <%= f.password_field :password_confirmation, placeholder: "Password confirmation" %>
    </div>

    <div class="field" id="birthday">
      <%= f.label :birthday, class: "sub-label" %><br />
      <%= f.date_field :birthday, placeholder: "MM-DD-YYYY", value: (f.object.birthday || Date.today.to_s(:db)) %>
    </div>

    <h3 class="sub-label">Gender</h3>
    <div class="field" id="radio-btn">
      <%= f.radio_button :gender, "male", :checked => true %>
      <%= f.label :gender, 'Male' %>

      <%= f.radio_button :gender, "female", :checked => false %>
      <%= f.label :gender, 'Female' %>

      <%= f.radio_button :gender, "other", :checked => false %>
      <%= f.label :gender, 'Other' %>
    </div>

    <div id="info">
      <p>By clicking Sign Up, you agree to our Terms, Data Policy and Cookies Policy. You may receive SMS Notifications from us and can opt out any time.</p>
    <div>

    <div class="actions">
      <%= f.submit "Sign up", id:"sign-up-btn" %>
    </div>
  </div>
<% end %>