<div class="timeline requests">
    <div class="friends-requests">
        <% if current_user.friends_requests.any? %>
            <p>Respond to Your Friend Request</p>
            <% current_user.friends_requests.each do | request |%>
                <li>   
                    <div class= "creator">
                        <%= gravatar_for request %>
                        <%= request.first_name %> 
                        <%= request.last_name %>
                    </div>
                    <div id="friends-btn">
                        <%= button_to user_confirm_friendship_path(request), method: :post, class:"like-btn confirm-btn"  do %>
                            Confirm
                        <% end %>
                        <% find_inverse_friendship_id(request) %>
                        <%= button_to user_friendship_path(request, @inverse_friendship_id), method: :delete, class: "cancel-request" do %>
                            Delete request
                        <% end %>
                    </div>
                </li>
            <% end %>
        <% else %>
            <p>No New Friend Requests</p>
        <% end %>
    </div>

    <div class="friends-suggestions">
        <p>People You May Know</p>
        <% @users.each do | user |%>
        <ul>
            <% unless user == current_user || current_user.is_requested?(user) || current_user.friend?(user) %>
                <li>
                    <div class= "creator">
                        <%= gravatar_for user %>
                        <%= user.first_name %> 
                        <%= user.last_name %>
                    </div>

                    <% if current_user.pending_friend?(user) %>
                        <% find_friendship_id(user) %>
                        <%= button_to user_friendship_path(user, @friendship_id), method: :delete, class: "cancel-request" do %>
                            Cancel request 
                        <% end %>
                    <% else %>
                        <%= button_to user_friendships_path(user), method: :post, class:"add-friend"  do %>
                            <i class="fas fa-user-plus"></i> Add friend
                        <% end %>  
                    <% end %>
                
                </li>
            <% end %>
        </ul>
        <% end %>
    </div>
</div>
