<div class="columns chat-container">
  <div class="column is-one-fifth friend-rooms" >
    <div class="chat-title">
      <%= gravatar_or_facebook_img(current_user) %>
      <h1>Chats</h1>
    </div>
    <%= render partial: 'rooms' %>
  </div>

  <div class="column chat-dashboard">
    <div class="column is-full room-status" >
      <%= gravatar_or_facebook_img(current_user) %>
      <div id="name-time">
        <p><%= @room.name %></p>
        <%= "#{time_ago_in_words(@room.created_at)} ago" %>
      </div>
    </div>
      <div class="columns chat-container">
        <div class="column is-8 no-padding" >
          <div class="chat" data-channel-subscribe="room" data-room-id="<%= @room.id %>">
            <% @room_messages.each do |room_message| %>
              <div class="message-container">
                <%= gravatar_or_facebook_img(room_message.user) %>
                <p><%= room_message.message %></p>
              </div>
            <% end %>
          </div>

          <%= form_for @room_message, remote: true do |form| %>
            <div class="input-group mb-3">
              <i class="fas fa-plus-circle button chat-input"></i>
              <i class="fas fa-folder button chat-input"></i>
              <i class="fas fa-sticky-note button chat-input"></i>
              <i class="fas fa-image button chat-input"></i>
              <%= form.text_field :message, placeholder: "Type a message..." %>
              <div class="input-group-append">
                <%= form.button :class => 'button chat-input' do %>
                  <i class="far fa-paper-plane"></i>
                <% end %>
              </div>
            </div>

            <%= form.hidden_field :room_id, :value => @room.id %>
          <% end %>
        </div>
        
        <div class="column is-4 chat-friend-info" >
          <div class="user-image border-bottom">
            <%= gravatar_or_facebook_img(current_user) %>
            <p><%= current_user.first_name %></p>
          </div>
          <div class="chat-options border-bottom" >
            <h3>OPTIONS</h3>
            <p>Search in Conversation<i class="fas fa-search"></i></p>
            <p>Edit Nicknames <i class="fas fa-edit"></i></p>
            <p>Change Theme <i class="fas fa-stop-circle"></i></p>
            <p>Change Emoji <i class="fas fa-thumbs-up"></i></p>
          </div>
          <div class="chat-support">
            <h3>PRIVACY AND SUPPORT</h3>
            <p>Notifications <i class="fas fa-bell"></i></p>
            <p>Ignore Messages <i class="fas fa-ban"></i></p>
            <p>Block Messages <i class="fas fa-ban"></i></p>
            <p>Something's wrong <i class="fas fa-exclamation-triangle"></i>
            </p>
          </div>
        </div>
      </div>
  </div> 

</div>