<h2>Hello <i><%= current_user.email %></i></h2>

<% if user_signed_in? %>
   <li>
      <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
   </li>
<% else %>
   <li>
      <%= link_to('Login', new_user_session_path)  %>
   </li>
<% end %>

<%= form_for @post, :url => { :controller => "posts", :action => "create" }, :html => {:method => :post} do |f| %>

  <%= render 'dashboards/partials/errors' %>
  <%= f.label :content, 'What are you thinking?'%> <br/>
  <%= f.text_area :content, size: '40x20', placeholder: 'Post something...' %><br/>

  <%= f.submit "Create post"%>

<% end %>