<div class="comment-form">
    <%= gravatar_for current_user %>
    <%= form_for @comment, :url => { :controller => "comments", :action => "create" }, :html => {:method => :post, :class => 'new-comment'} do |f| %>
        <%= f.text_area :sub_content, placeholder: "Write a comment..." %>
        <%= f.hidden_field :post_id, :value => post.id %>
        <%= f.button :class => 'comment-btn' do %>
            <i class="far fa-paper-plane"></i>
        <% end %>
    <% end %>
</div>
<div class="comments-feed">
    <% find_comment(post).each do |comment|%>
        <ul>
            <li>
                <%= gravatar_for comment.commenter %>
                <div class="comment" >
                    <div class="full-name" >
                        <%= comment.commenter.first_name%>
                        <%= comment.commenter.last_name %>
                        <p id="sub-content"><%= comment.sub_content %></p>
                    </div>                    
                </div>
            </li>
            <li id="comment-links">
                <div class="links">
                    <%= link_to "Like", "#" %>
                    ·
                    <%= link_to "Reply", "#" %> 
                    ·
                    <%= "#{time_ago_in_words(comment.created_at)} ago" %>
                </div>
            </li>
        </ul>
    <%end%> 
</div>

