<div class="comment-form">
    <%= gravatar_for current_user %>
    <%= form_for @comment, :url => { :controller => "comments", :action => "create" }, :html => {:method => :get} do |f| %>
        <%= f.text_area :sub_content, placeholder: "Write a comment..." %>
        <%= f.hidden_field :post_id, :value => post.id %>
        <%= f.button do %>
            <i class="far fa-paper-plane"></i>
        <% end %>
    <% end %>
</div>
<div class=comments-feed>
    <% find_comment(post).each do |comment|%>
        <ul>
            <li>
                <%= comment.sub_content %>
            </li>
        </ul>
    <%end%> 
</div>

